/* UTILITIES */

.text-align_center {
    text-align: center;
}
.text-color_white {
    color: white;
}
.mar-bottom_small {
    margin-bottom: 0.1rem;
}
.font-style_italic {
    font-style: italic;
}
.is-relative {
    position: relative;
}

body {
    color: olivedrab;
}

.info-container {
    margin-top: 50%;
}

/* FOOTER */
.wave-container {
    z-index: -1;
    position: fixed;
    top: 70%;
    left: 0;
    height: 20rem;
    background: -webkit-linear-gradient(272deg,#4BE074 9%,#10A799 84%);
    background: linear-gradient(-182deg,#4BE074 9%,#10A799 84%);
}
#wave svg {
    position: relative;
    top: -1px;
}
svg path {
    fill: white;
}
@media screen and (min-width: 1024px) {
    svg {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@media (min-width: 400px) {

    .info-container {
        margin-top: 20%;
    }

}
@media (min-width: 550px) {

    .info-container {
        margin-top: 45%;
    }
}
@media (min-width: 750px) {

    .info-container {
        margin-top: 25%;
    }
}